*{  
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
} 


/* Menú responsive, normal y hamburguesa */

header{
    width: 100%;
    background-color: rgb(250, 250, 250);
    box-shadow: 0px 0px 15px rgba(223, 223, 223, 0.452);
    z-index: 1;
    position: fixed;
}

nav{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    margin-left: 70px;
}

.bar-btn{
    font-size: 21px;
    color: #363636;
    margin-right: 70px;
    cursor:pointer;
}

.nav-menu{
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background-color: rgba(250, 250, 250, 0.918);
    text-align: center;
    transition: all .5s;
}

.nav-menu li{
    display: none;
    line-height: 30px;
    margin: 50px 0px;
    transition: all .5s;
}

.nav-menu li a{
    font-family: 'Lato', sans-serif;
    color: #252525;
    font-size: 16px;
    letter-spacing: 1.5px;
}

.nav-menu li a.active, .nav-menu li a:hover{
    color: #066780;
    font-weight: bold;
    transition: .3s;
}

#check{
    display: none;
}

#check:checked ~ .nav-menu {
    height: 100vh;
}

#check:checked ~ .nav-menu li {
    display: block;
}

/* menú responsive */
@media screen and (min-width:930px) {

    .logo{
        margin-left: 70px;
    }

    nav{
        height: 100px;
    }

    .bar-btn{
        display: none;
    }

    .nav-menu{
        position: relative;
        height: 100px;
        top: 0;
        background: none;
        transition: none;
        text-align: right;
        margin-right: 50px;
    }

    .nav-menu li {
        display: inline-block;
        line-height: 100px;
        margin: 0px 20px;
        transition: none;
    }

    .nav-menu li a {
        font-family: 'Lato', sans-serif;
        color: #252525;
        font-size: 13px;
        letter-spacing: 1.5px;
    }

}

@media screen and (min-width:1150px) {

    .logo{
        margin-left: 160px;
    }

    .nav-menu{
        margin-right: 160px;
    }
}





/* HOME */

h1{
    font-family: 'Lora', serif;  
    color: rgb(236, 236, 236);
    font-size: 40px;
    font-weight:bold;
    letter-spacing: 0.5px;
}


h2{
    font-family: 'Lora', serif;  
    font-size: 32px;
    font-weight:bold;
    letter-spacing: 0.5px;
}


h3{
    font-family: 'Lora', serif;  
    font-size: 25px;
    font-weight:bold;
    font-style: italic;
    letter-spacing: 0.5px;
}


h4 {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    letter-spacing: 1.5px;
    font-weight:bold;
}


p{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    letter-spacing: 1.5px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 23px;
}


/* Sección 1 */
.section_1{
    background-image:url("../Imágenes/img\ section\ 1.jpg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    padding: 280px 150px 150px;
}

.section_1 p{
    color: rgb(170, 170, 170);
    padding: 30px 0px 45px;
}


@media screen and (min-width:930px) {
    .section_1{
        background-attachment: fixed; 
    }
}

@media screen and (min-width: 769px) and (max-width:1148px) {
    .section_1 {
       padding: 280px 120px 120px;
    }

    .section_1 h1{
        font-size: 35px;
        line-height: 47px;
    }

    .section_1 p{
        line-height: 25px;
        padding-bottom: 45px;
    }
}

@media screen and (max-width:768px) {
    .section_1{
        background-image: url("../Imágenes/img\ section\ 1\ opacidad.jpg");
        padding: 220px 100px 100px;
        text-align: center;
    }

    .section_1 p{
        color: #dddddd;
    }
}


/* Section 2 */
.section_2{
    background-color:#eeeeee;
    padding: 150px;

    /* FLEX */
    display: flex;
    flex-direction: column;
}

.section_2 h2{
    text-align: left;
    color: #13171a;
}

.section_2 p{
    color: #353535;
    padding: 30px 0px;
}

.formatos{   /* contenedor padre para FLEX */  
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.formatos div h4 {
    color: #13171a;
    padding-top: 40px;
}

.formatos div p {
    padding-left: 130px;
}

.tamaño{
    width: 220px;
    height: 220px;
    border-radius: 15px;
}

.formatos div img:hover {
    transform: scale(1.1,1.1);
    transition: .3s;
}

#bajar{
    scroll-behavior: smooth;
}


@media screen and (min-width:1381px) {
    
    .formatos div {
        padding: 70px 60px 20px;
    }
}

@media screen and (min-width:1149px) and (max-width:1380px) {
    
    .formatos div {
        padding: 50px 28px 20px;
    }
}

@media screen and (min-width: 769px) and (max-width:1148px) {
    .section_2 {
       padding: 120px 70px;
    }
    
    .tamaño{
        width: 200px;
        height: 200px;
        border-radius: 15px;
    }

    .formatos div {
        padding: 40px 40px 20px;
    }

    .section_2 h2{
        padding-left: 50px;
    }
    
    .section_2 p{
        padding-left: 50px;
    }
     
}

@media screen and (min-width: 520px) and (max-width:768px) {
    .section_2{
        text-align: center;
        padding: 100px 20px;
    }

    .section_2 h2 {
        text-align: center;
    }

    .section_2 p{
        padding-bottom: 50px;
    }

    .formatos div {
        padding: 30px 30px 20px;
    }

    .tamaño{
        width: 180px;
        height: 180px;
    }
}

@media screen and (max-width:520px) {
    .section_2{
        text-align: center;
        padding: 100px 20px;
    }

    .section_2 h2 {
        text-align: center;
        font-size: 28px;
    }

    .section_2 p{
        padding-bottom: 50px;
    }

    .formatos div {
        padding: 30px;
    }

    .tamaño{
        width: 200px;
        height: 200px;
    }
}



/* Section 3 */
.section_3{
    background-image: url("../Imágenes/fondo\ título\ section\ 3.jpg");
    background-repeat: no-repeat;
    background-position:right ;
    background-size: cover;
    padding: 120px 150px;

    /* FLEX */
    display: flex;
    flex-direction: column;
}

.section_3 h2 {
   color: #13171a;
   width: 350px;
   font-size: 40px;
}

.section_3 a {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    font-size: 13.5px;
    letter-spacing: 1.2px;
    vertical-align: middle;
    color: #003f4e;
    font-weight: bold;
    padding-top: 40px;
}

.section_3 a:hover {
    color: #066780;
}


@media screen and (min-width:1000px) {
    .section_3{
        background-attachment: fixed; 
    }
}

@media screen and (min-width: 769px) and (max-width:1148px) {
    .section_3 {
       padding: 140px 120px 120px;
       background-image: url("../Imágenes/fondo\ título\ section\ 3\ opacidad.jpg");
    }

    .section_3 h2{
        font-size: 35px;
        line-height: 47px;
    }

    .section_3 a {
        color: #00222c;
    }
    
    .section_3 a:hover {
        color: #26768f;
    }
    
}

@media screen and (max-width:768px) {
    .section_3{
        background-image: url("../Imágenes/fondo\ título\ section\ 3\ opacidad.jpg");
        padding: 250px 100px 70px;
        text-align: center;
    }

    .section_3 h2{
        width: auto;
    }

    .section_3 a {
        color: #00222c;
        font-size: 13.5px;
    }
    
    .section_3 a:hover {
        color: #26768f;
    }
}


/* Section 4 */
.section_4 {
    background-color:#eeeeee;
    padding: 110px 70px 120px 70px;
    display: flex;
    flex-direction: column;
}

.section_4 h2{
    color: #13171a;
    padding: 20px;
    width:auto;
    text-align: center;
}

.section_4 p{
    padding: 0px 20px 20px 20px;
    color: #353535;
    text-align: center;
}

.tostado{ /* contenedor padre para FLEX */  
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.tostado div{
    display: inline-block;
    padding: 60px 70px 20px 70px;
}

.tostado div h4 {
    color: #13171a;
    padding: 20px 20px 0px 20px;
}

.tostado div img {
    width: auto;
}






/* CAFE */



/* CAFE - section 1 (TÍTULO) */
.section_cafe {
    background-image:url(../Imágenes/fondo\ sección\ café.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    padding: 240px 0px 140px 0px;
    /* FLEX */
    display: flex;
    flex-direction: column;
}

.titulo_cafe{
    color: #eeeeee;
    width:auto;
    text-align: center;
    font-family: 'Lora', serif;  
    font-size: 30px;
    font-weight:bold;
    letter-spacing: 0.5px;
}

.section_cafe p{
    padding: 30px 0px 0px 0px;
    color: #d3d3d3;
    text-align: center;
}



/* CAFE - section 2 (GRANO) */
.grano {
    background-color: #eeeeee;
    text-align: center;

    /* FLEX */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
}

.grano div {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.grano div div {
    text-align: left;
    padding: 70px;
}

.grano div div h3{
    padding-bottom: 10px;
    color: #353535;
}

.grano div div p{
    padding-top: 15px;
    color: #353535;
    text-transform:initial;
    letter-spacing: 0.5px;
    width: 400px;
}




/* CAFE - section 3 (MOLIDO) */
.molido {
    background-color: #ffffff;
    text-align: center;
    
    /* FLEX */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
}

.molido div {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.molido div div {
    text-align: left;
    padding: 70px;
}

.molido div div h3{
    padding-bottom: 10px;
    color: #353535;
}

.molido div div p{
    padding-top: 15px;
    color: #353535;
    text-transform:initial;
    letter-spacing: 0.5px;
    width: 400px;
}



/* CAFE - section 4 (CÁPSULAS) */
.capsulas {
    background-color: #eeeeee;
    text-align: center;
    padding-bottom: 50px;
    
    /* FLEX */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
}

.capsulas div {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.capsulas div div {
    text-align: left;
    padding: 70px;
}

.capsulas div div h3{
    padding-bottom: 10px;
    color: #353535;
}

.capsulas div div p{
    padding-top: 15px;
    color: #353535;
    text-transform:initial;
    letter-spacing: 0.5px;
    width: 400px;
}



@media screen and (min-width:1000px) {
    .section_cafe{
        background-attachment: fixed; 
    }
}

@media screen and (min-width: 1000px) and (max-width:1160px) {
    .grano div div {
        padding: 70px 40px;
    }

    .molido div div {
        padding: 70px 40px;
    }

    .capsulas div div {
        padding: 70px 40px;
    }
    
}


@media screen and (min-width: 768px) and (max-width:1160px) {
    .grano div div {
        padding: 70px 20px;
    }

    .grano div div img {
        width: 250px;
    }

    .molido div div {
        padding: 70px 20px;
    }

    .molido div div img {
        width: 250px;
    }

    .capsulas div div {
        padding: 70px 20px;
    }

    .capsulas div div img {
        width: 250px;
    }
    
}


@media screen and (max-width:767px) {
    .grano div div {
        padding: 0px;
    }

    .grano div div h3 {
        padding-top: 100px;
    }

    .grano div div img {
        padding-bottom: 100px;
        padding-top: 50px;
    }



    .molido div div {
        padding: 0px;
    }

    .p_molido  {
        padding-bottom: 100px;
    }

    .molido div div img {
        padding-bottom: 50px;
        padding-top: 100px;
    }



    .capsulas div div {
        padding: 0px;
    }

    .capsulas div div h3 {
        padding-top: 100px;
    }

    .capsulas div div img {
        padding-bottom: 100px;
        padding-top: 50px;
    }

}





/* Sección cafeteras */


/* CAFETERAS - section 1 (TÍTULO) */
.section_cafeteras {
    background-image:url(../Imágenes/fondo\ sección\ cafeteras.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    padding: 240px 0px 140px 0px;
}


.titulo_cafeteras{
    color: #eeeeee;
    width:auto;
    text-align: center;
    font-family: 'Lora', serif;  
    font-size: 30px;
    font-weight:bold;
    letter-spacing: 0.5px;
}




/* CAFETERAS - section 2 (FOTOS) */

.fotos_cafeteras{     
    background-color: #eeeeee;
}

.fotos_flex {
    display: inline-block;
    width: auto;
    padding: 70px 0px;

    /* contenedor padre para FLEX */  
   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fotos_flex div{
    padding: 50px;
}

.fotos_cafeteras div div h3 {
    color: #353535;
    padding-top: 25px;
}

.fotos_cafeteras div div img {
    border-radius: 8px;
}


.fotos_cafeteras div div img:hover {
    transform: scale(1.1,1.1);
    transition: .3s;
}

.fotos_cafeteras div div p{
    padding-top: 15px;
    color: #353535;
    text-transform:initial;
    letter-spacing: 0.5px;
    width: 350px;
}





/* CAFETERAS - section 3 (VIDEOS) */

.section_videos{     
    background-color: #fff;
    padding: 120px 100px 150px 100px;
}

.section_videos h2{
    text-align: left;
    color: #13171a;
    padding: 2px 0px 20px 0px;
    width: auto;
    text-align: center;}

.section_videos p{
    color: #353535;
    width: auto;
    text-align: center;
    padding-bottom: 20px;
}


.videos div h3{
    color: #555555;
    padding: 70px 0px 30px 0px;
}


@media screen and (min-width:1400px){

    .videos{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr); 
        grid-template-areas:
        "videos-1 videos-2 videos-3"
        "videos-4 videos-5 0";
        justify-items: center;
        align-items: center;
        grid-column-gap: 15px;
    }

    .videos-1{
        grid-area: videos-1;
    }
    .videos-2{
        grid-area: videos-2;
    }
    .videos-3{
        grid-area: videos-3;
    }
    .videos-4{
        grid-area: videos-4;
    }
    .videos-5{
        grid-area: videos-5;
    }

}

@media screen and (min-width:1100px) and (max-width:1400px){

    .videos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr); 
        grid-template-areas:
        "videos-1 videos-2"
        "videos-3 videos-4"
        "videos-5 0";

        justify-items: center;
        align-items: center;
        grid-column-gap: 15px;
    }

    .videos-1{
        grid-area: videos-1;
    }
    .videos-2{
        grid-area: videos-2;
    }
    .videos-3{
        grid-area: videos-3;
    }
    .videos-4{
        grid-area: videos-4;
    }
    .videos-5{
        grid-area: videos-5;
    }

}

@media screen and (max-width:1100px){

    .videos{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, 1fr); 
        grid-template-areas:
        "videos-1" 
        "videos-2"
        "videos-3"
        "videos-4"
        "videos-5";

        justify-items: center;
        align-items: center;
        grid-column-gap: 15px;
    }

    .videos-1{
        grid-area: videos-1;
    }
    .videos-2{
        grid-area: videos-2;
    }
    .videos-3{
        grid-area: videos-3;
    }
    .videos-4{
        grid-area: videos-4;
    }
    .videos-5{
        grid-area: videos-5;
    }

}


@media screen and (min-width:1000px) {
    .section_cafeteras{
        background-attachment: fixed; 
    }
}


@media screen and (min-width:880px) and (max-width:1020px){
    .fotos_flex {
        padding: 70px 0px;
    }

    .fotos_flex div {
        padding: 40px 15px;
    }
}









/* CÁPSULAS - section 1 (TÍTULO) */
.section_capsulas {
    background-image:url(../Imágenes/fondo\ sección\ capsulas.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    padding: 240px 70px 120px 70px;
}



@media screen and (min-width:1000px) {
    .section_capsulas{
        background-attachment: fixed; 
    }
}

@media screen and (min-width:540px) and (max-width:768px) {
    .section_capsulas{
        padding: 230px 70px 150px 70px;
    }
}

@media screen and (max-width:540px) {
    .section_capsulas{
        width: auto;
        text-align: center;
        padding: 220px 70px 100px;
    }

    .section_capsulas p {
        padding: 10px 0px;
    }
}

.titulo_capsulas {
    color: #eeeeee;
    padding-bottom: 10px;
    font-family: 'Lora', serif;  
    font-size: 30px;
    font-weight:bold;
    letter-spacing: 0.5px;
}

.section_capsulas p {
    color: #d3d3d3;
}




.section_flex_1{
    /* FLEX */
    display: flex;
    flex-direction: column;
}

.capsula_1{   /* contenedor padre para FLEX */  
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;

    padding: 40px;
}
.capsula_1 div {
    padding: 40px;
}

.capsula_2{   /* contenedor padre para FLEX */  
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;

    padding: 40px 0px;
    background-color: #f9f9f9;
}
.capsula_2 div {
    padding: 40px;
}

.capsula_3{   /* contenedor padre para FLEX */  
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;

    padding: 40px;
}
.capsula_3 div {
    padding: 40px;
}


.capsula_4{   /* contenedor padre para FLEX */  
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;

    padding: 40px 0px;
    background-color: #f9f9f9;
}
.capsula_4 div {
    padding: 40px;
}



@media screen and (max-width:850px) {
    .capsula_1{
        flex-wrap: wrap;
        padding: 10px;

    }

    .capsula_2{
        flex-wrap: wrap;
    }

    .capsula_3{
        flex-wrap: wrap;
        padding: 10px;
    }

    .capsula_4{
        flex-wrap: wrap;
    }
    
}






div h3{
    padding: 20px 0px;
    color: #353535;
}

div p{
    color: #353535;
    text-transform:initial;
    letter-spacing: 0.7px;
    width: 320px;    
}

div ul li {
    color: #353535;
    text-transform:initial;
    letter-spacing: 0.7px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    list-style-position: inside
}


div img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
}



.subtitulo{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    letter-spacing: 1.5px;
    font-weight:bold;
    color: #2c7d96;
    padding-bottom: 10px;
}






/* CONTACTO */


/* CONTACTO - section 1 (TÍTULO) */
.section_contacto{
    background-color:#f5f5f5;
    padding: 200px 0px 110px 0px;
}

.titulo_contacto{
    text-align: center;
    color: #066780;
    font-family: 'Lora', serif;  
    font-size: 30px;
    font-weight:bold;
    letter-spacing: 0.5px;
    width: auto;
}


.section_contacto p{
    padding-top: 20px;
    color: #353535;
    text-align: center;
}



/*  GRID en FOTO Y FORMULARIO */

.conteiner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr); 
    grid-template-areas:
    "img section_form";
    padding-bottom: 150px;
    background-color: #f5f5f5;
    justify-items: center;
    align-items: center;
    grid-column-gap: 80px;
}





@media screen and (max-width:900px) {
    .conteiner{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr); 
        grid-template-areas:
        "0 section_form 0";
        padding-bottom: 150px;
        background-color: #f5f5f5;
        justify-items: center;
        align-items: center;
        grid-column-gap: 80px;
    }

    .img {
        display:none;
    }
    
}








/* Imagen */
.img{
grid-area: img;
justify-self:end;
}


.img img{
    width: auto;
    height: 600px;
    border-radius: 8px;
}



/* CONTACTO - section 2 (FORMULARIO) */
.section_form{
grid-area: section_form;
justify-self: start;
}




label {
    display:block;
    padding:30px 0px 9px 0px;
    letter-spacing:1px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    color: #353535;
}
 
 

input, textarea {
    width:380px;
    background:#ffffff;
    border: solid 1px #dfdfdf;
    padding:10px;
    margin-top:5px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
 


textarea {
    height:100px;
}

 


.enviar input {
    width:130px;
    height:35px;
    border:none;
    margin-top:40px;
    background-color: #066780;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: white;
    text-transform: uppercase;
    border-radius: 50px;
    cursor: pointer;
}


.enviar input:hover{
    background-color: #22798f;
}




.desplegable{
    padding:30px 0px; 
}

.desplegable select{
    background:#ffffff;
    border: solid 1px #dfdfdf;
    padding:10px;
    margin-top:5px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 0.5px;
}










/* FOOTER */
footer {
    text-align: center;
    background-color: #13171a;
    padding: 50px;
    width: auto;

    /* contenedor padre para FLEX */  
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

footer a{
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: #dfdfdf;
    font-size: 13px;
    letter-spacing: 1.5px;
    vertical-align: middle;
    padding: 20px;
}

footer a:hover{
    color: #066780;
    font-weight: bold;
}